
<header class="legion-header" fxLayout="row">
    <mat-form-field fxFlex="70%">
        <input matInput placeholder="List Name" [(ngModel)]="list.name">
    </mat-form-field>
    <div fxFlex="30%" class="actions">
        <button mat-mini-fab aria-label="Add new list" color="primary" (click)="chooseRank()">
            <mat-icon>add</mat-icon>
        </button>
        <a [routerLink]="['/']" mat-mini-fab aria-label="Add new list" color="primary">
            <mat-icon>arrow_back</mat-icon>
        </a>
    </div>
</header>

<section class="rank" *ngFor="let rank of ranks">
    <h2>{{rank.fields.name}}</h2>
</section>