/* You can add global styles to this file, and also import other style files */

body
    background-color: #111
    color: #eee
    font-family: sans-serif
header.app
    position: relative
    h1
        margin: 10px 5px
    button
        position: absolute
        top: 5px
        right: 5px
        border: 0px
        color: #fff
        font-size: 18px
        line-height: 25px
        text-align: center
        width: 25px
        height: 25px
        &.add
            background-color: #090
        &.close
            background-color: #900